 <ul class="nav nav-pills">
	<li ng-class="{ active:panels.isSelected(1)}"><a href="" ng-click="panels.selectTab(1)">Description</a></li>
	<li ng-class="{ active:panels.isSelected(2)}"><a href="" ng-click="panels.selectTab(2)">Specifications</a></li>
	<li ng-class="{ active:panels.isSelected(3)}"><a href="" ng-click="panels.selectTab(3)">Reviews</a></li>
</ul>
<div class="panel" ng-show="panels.isSelected(1)">
		<h4>Description</h4>
		<p>{{product.description}}</p>
	</div>
	<div class="panel" ng-show="panels.isSelected(2)">
		<h4>Specifications</h4>
		<p>None yet</p>
	</div>
	<div class="panel" ng-show="panels.isSelected(3)">
		<h4>Reviews</h4>
		<reviews-panel></reviews-panel>
		
	</div>